body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color:aqua;
    } 

  #countdown {
    font-size: 24px;
    color: black;
  }

  #independenceDay {
    font-size: 18px;
    color: red;
  }
  button{
    color: teal;
    border-radius: 5px;
    padding: 10px;
  }
